body{background-color: beige}
#name{color: black; font-family:"Playfair Display",sans-serif; font-size:4em}  
#key-info{color: black; font-family: "Roboto",sans-serif; font-size: 1em}
h3{color: darkmagenta}
#pic{
    margin-right: 3rem;
    float: left;
    width: 30%;
}
#everything{
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15%;
}
