body{background-color: beige}
#name{color: black; font-family:"Crimson Text",sans-serif; font-size:5em}  
#key-info-headings{color: black; font-family: "Playfair Display",sans-serif; font-size: 1.5em}
#key-info{color: black; font-family: "Playfair Display",sans-serif; font-size: 1em}
#writings-heading {color: black; font-family: "Playfair Display",sans-serif; font-size: 1.125em}
#writings-list{color: black; font-family: "Playfair Display",sans-serif; font-size: 1em}
h3{color: darkmagenta}

#pic
{
    margin-right: 3rem;
    float: left;
    width: 30%;
}
#container
{
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15%;
}
button
{
    margin-top: 12px;
    display: inline-block;
    background-color: black;
    border-radius: 5rem;
    color: whitesmoke;
    text-align: center;
    font-size: 1em;
    height: 2em;
    width: 7em;
    transition: all 0.5s;
    cursor: pointer;
}

#footer
{
    background: black;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
}
