body{background-color: beige}
#name{color: black; font-family:"Playfair Display",sans-serif}  
#key-info{color: black; font-family: "Roboto",sans-serif}
h3{color: darkmagenta}
#pic{
    margin-left: 3rem;
    margin-right: 3rem;
    width: 15%;
    display: block;
}